<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <head>
    <title>BARS | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Home</h1>
    <p>
      This will be the contact page for Bars.
    </p>
  </body>
</html>