<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      This will be the help page for Bars.
    </p>
  </body>
</html>